<!DOCTYPE html>
<html>
    <head>
        <title>Listagem - Controle Gastos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="container mt-5">
        <h2>Transações</h2>
        <hr>
        <br>

        <table class="table table-responsive">
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Observações</th>
                <th>Categoria</th>
            </tr>
            <tbody>
                {% for trans in transacoes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ trans.descricao }}</td>
                        <td>{{ trans.valor }}</td>
                        <td>{{ trans.data }}</td>
                        <td>{{ trans.observacoes }}</td>
                        <td>{{ trans.categoria }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</html>